# Ignorar dependências
**/node_modules/

# Ignorar arquivos de build do Next.js
front/.next/
front/out/

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configurações locais do sistema
.DS_Store
Thumbs.db

# Ignorar ambientes locais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar TypeScript build output
**/dist/
**/build/

# Ignorar arquivos de cache
.cache/
.next/
.vscode/
.idea/

# Ignorar coverage de testes
coverage/

# Ignorar arquivos gerados pelo sistema
*.swp
*.swo
*.bak

# Ignorar arquivos de configuração específicos de usuários
*.tsbuildinfo
